//css変数 　使用しない場合このァイルごと削除でOK
:root {
  //フォント
  --font-main: "Noto Sans JP","Hiragino Sans","Hiragino Kaku Gothic ProN","Yu Gothic Medium","Yu Gothic",Meiryo,sans-serif;
  --font-sub: "", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, system-ui;
  //カラー
  --c-main: #333 ;
  --white: #fff;
}