@use "global" as *;

.p-footer {
  background-color: $yellow;
}

.p-footer__inner {
  padding-top: rem(75);
  padding-bottom: rem(20);
  text-align: center;
  @include mq(md) {
    padding-top: rem(101);
    padding-bottom: rem(30);
  }
}

.p-footer__list {
  padding: 0;
  margin-bottom: rem(65);
  display: grid;
  gap: rem(19);
  @include mq(md) {
    display: flex;
    justify-content: center;
    gap: rem(21);
    margin-bottom: rem(75);
  }
}

.p-footer__item {
  line-height: calc(19 / 15);
}

.p-footer__link {
  color: $orange;
  font-size: rem(15);
  font-weight: 500;
  letter-spacing: 0.03em;   
}

.p-footer__link:hover {
  @include mq(md) {
    opacity: 0.7;
  }
}

.p-footer__copyright {
  color: $black2;
  font-size: rem(15);
  line-height: calc(19 / 15);
}