@use "global" as *;

.p-test {
  color: $black;
  font-family: $font-main;
  font-size: rem(20);
  margin-block: rem(50);
  color: var(--red);
  @include mq(lg) {
    font-size: rem(50);
  }
}

.p-test__img {
  width: 100%;
  height: 100%;
}

.p-test__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}